//.container {
//    background-image: url("../images/bg-main-desktop.png");
//    background-repeat: no-repeat;
//    height: 100vh;
//    width: 33vw;
//}
.container {
    max-width: 1500px;
    margin: 0 auto;
}

.flexContainer {
    display: flex;
    justify-content: space-between;
    background-image: url("../images/bg-main-desktop.png");
    background-repeat: no-repeat;
    height: 100vh;
}
