@use 'variables';

* {
	font-family: variables.$font-family;
	font-size: variables.$font-size;
}

form {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	width: 480px;
	margin-left: 100px;
}

label {
	display: flex;
	flex-direction: column;
	text-transform: uppercase;
	color: variables.$very-dark-violet;
	margin: 1rem 0;
}

input {
	color: variables.$very-dark-violet;
	border: 1px solid variables.$light-gray-violet;
	border-radius: 10px;
	padding: 0.5rem;
	box-shadow: 1px 1px 3px variables.$light-gray-violet;
	margin-top: 0.25rem;
}

input::placeholder {
	color: variables.$light-gray-violet;
}

.fields-small input {
	//width: 90px;
}

.fields-small #expDate input {
	width: 55px;
	margin-right: 10px;
}

.fields-small, fieldset {
	display: flex;
	align-items: baseline;
}

fieldset {
	border: none;
	padding: 0;
}

button {
	background-color: variables.$very-dark-violet;
	color: white;
	border: none;
	border-radius: 10px;
	padding: 10px;
	margin: 1rem 0;
}
